* {
    color: #b6b6b6
}

a.program-link {
    color: #b6b6b6;
    display: block
}

a.program-link:link {
    color: #b6b6b6;
    text-decoration: none;
}

a.program-link:visited {
    color: #b6b6b6;
    text-decoration: none;
}

a.program-link:hover {
    color: #b6b6b6;
    text-decoration: none;
}

a.program-link:active {
    color: #b6b6b6;
    text-decoration: none;
}

tr.program-row:hover {
    background: grey;
}

input {
    color: black;
}