{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="px-5 py-5">
   <form class="text-light" action = "/add" method = "POST">
      <p>Program <input class="" type = "text" name = "Program" /></p>

      <div class="row">
         <p class="px-3">Grade</p>
         <p class="px-2">9 <input type="checkbox" id="9" name="9" value="9"></p>
         <p class="px-2"> 10 <input type="checkbox" id="10" name="10" value="10"></p>
         <p class="px-2">11 <input type="checkbox" id="11" name="11" value="11"></p>
         <p class="px-2">12 <input type="checkbox" id="12" name="12" value="12"></p>
      </div>

      
      <p>Type <select type="text" name="Type" class="">

         <option value="Class">Class</option>
         <option value="Club">Club</option>
         <option value="Extracurricular">Extracurricular</option>
         <option value="Occupational">Occupational</option>
         <option value="Competition">Competition</option>

     </select></p>
      <p>Field <input type = "text" name = "Field" /></p>
      <p>Description <input type ="text" name = "Description" /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form>
</div>
{% endblock %}