{% extends "layout.html" %}
{% block title %}Home Page

{% endblock %}
{% block content %}
<div class="px-5 py-5">
    <div>
        <form class="text-light" action = "/catalog" method = "POST">
            <div class="row justify-content-center">
            <p class="col-sm-3 small-text">Grade <input class="" type = "text" name = "Grade" /></p>
            <p class="col-sm-3 small-text">Type <input class="" type = "text" name = "Type" /></p>
            <p class="col-sm-3 small-text">Field <input class="" type = "text" name = "Field" /></p>
            <p><input class="font-weight-bold text-dark col-sm" type = "submit" value = "submit" /></p>
            </div>
        </form>
    </div>

    <br>

    <div>
    <section class="intro">
        <div class="gradient-custom-2">
            <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-12">
                    <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="col" class="small-text">NAME</th>
                                <th scope="col" class="small-text">GRADE</th>
                                <th scope="col" class="small-text">TYPE</th>
                                <th scope="col" class="small-text">FIELD</th>
                                <th scope="col" class="small-text">DESC...</th>
                            </tr>
                            {% for result in data %}
                                <tr class="program-row">
                                    {% for elem in result %}
                                        {% if loop.index == 1 %}
                                            <th class="program-row" scope="row"><a class="program-link" href="{{ url_for('program', name=result[0]) }}">{{ elem }}</a></td>
                                        {% else %}
                                            <td class="program-row" scope="row"><a class="program-link" href="{{ url_for('program', name=result[0]) }}">{{ elem }}</a></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
</div>
{% endblock %}